<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algotalk.interviewservice.repository.ISessionQuestionMapper">

    <!--  세션 질문 단건 저장  -->
    <insert id="insertSessionQuestion"
            parameterType="SessionQuestionCommand"
            useGeneratedKeys="true"
            keyProperty="sessionQuestionId"
    >
        INSERT INTO SESSION_QUESTION (
            SESSION_ID, REF_ID, QUESTION_TEXT,
            SOURCE_TYPE, QUESTION_ORDER, QUESTION_INTENT,
            QUESTION_KEYWORDS,
            CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
        )
        VALUES (
            #{sessionId}, #{refId}, #{questionText},
            #{sourceType}, #{questionOrder}, #{questionIntent},
            #{questionKeywords, typeHandler=com.algotalk.interviewservice.util.JsonListTypeHandler},
            NOW(), #{userId}, NOW(), #{userId}
        )
    </insert>

    <!--  세션 질문 목록 조회  -->
    <select id="getSessionQuestionList"
            parameterType="InterviewSessionCommand"
            resultType="SessionQuestionCommand"
    >
        SELECT
            SESSION_QUESTION_ID,
            SESSION_ID,
            QUESTION_TEXT,
            SOURCE_TYPE,
            QUESTION_ORDER,
            QUESTION_INTENT,
            QUESTION_KEYWORDS
        FROM SESSION_QUESTION
        WHERE SESSION_ID = #{sessionId}
        ORDER BY QUESTION_ORDER ASC
    </select>
</mapper>
