<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algotalk.userservice.repository.ISocialAccountMapper">

    <select id="findByProviderAndProviderId"
            parameterType="SocialAccountCommand"
            resultType="UserInfoCommand">
        SELECT
            U.USER_ID    AS userId,
            U.NICKNAME   AS nickname,
            U.EMAIL      AS email,
            U.DELETED_YN AS deletedYn,
            UR.ROLE      AS role
        FROM SOCIAL_ACCOUNT SA
                 JOIN USERS U ON SA.USER_ID = U.USER_ID
                 JOIN USER_ROLES UR ON U.USER_ID = UR.USER_ID
        WHERE SA.PROVIDER_CD = #{provider}
          AND SA.PROVIDER_UID = #{providerId}
          AND U.DELETED_YN = 'N'
    </select>

</mapper>
