<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algotalk.userservice.repository.IUserWithdrawMapper">

    <!--  회원 탈퇴  -->
    <update id="withdrawUser"
            parameterType="UserInfoCommand">
        UPDATE USERS
        SET DELETED_YN = 'Y',
            UPDATED_AT = NOW(),
            UPDATED_BY = #{userId}
        WHERE USER_ID = #{userId}
            AND DELETED_YN = 'N'
    </update>

    <!--  회원 소셜 계정 연동 삭제  -->
    <delete id="deleteAllSocialAccountsByUserId"
            parameterType="UserInfoCommand">
        DELETE FROM SOCIAL_ACCOUNT
        WHERE USER_ID = #{userId}
    </delete>

    <!--  회원 소셜 연동 수 조회  -->
    <select id="getSocialAccountCountByUserId"
            parameterType="UserInfoCommand"
            resultType="int">
        SELECT COUNT(1)
        FROM SOCIAL_ACCOUNT
        WHERE USER_ID = #{userId}
    </select>

    <!--  provider별 소셜 연동 해제  -->
    <delete id="deleteSocialAccountByProvider"
            parameterType="UserInfoCommand">
        DELETE FROM SOCIAL_ACCOUNT
        WHERE USER_ID = #{userId}
          AND PROVIDER_CD = #{provider}
    </delete>
</mapper>
